*{
    margin: 0;
    padding: 0;
    font-family:  system-ui, sans-serif;
}



/* banner */

.banner{
    background-image: url('images/aboutpage.jpg') ; /* Add your image path here */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.title{
    color: black;
    font-size: 8rem;
    line-height: 1.5;
    

}
.sub-title{
    color: black;
    margin-bottom: 7rem;
}
/* service portion */

.content{
    height: 50vh; 
    margin-bottom: 2rem;
}

/* 6 cards */
.grid2{
    margin-top: 0rem;

}
#btn4{
    background-color:  #650e83;
}
#b5{
    background-color: #d05b5b;
}
#b6{
    background-color: #149f96;
}

.icon-mobile{
    background-color: #650e83;
}
.icon-insurance{
    background-color: #d05b5b;

}
.icon-payment{
    background-color: #149f96;
}


/* why choose us */



/* list */

.list-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

.pic{
   
    height: auto;
    width: 40%;
   
    background-size: cover; 
}

.pic img{
    width: 100%;
    height: auto;
}
.list{
    width: 60%;
    list-style: none;
    margin-left: 2rem;
   
    /* list-style: georgian inside url('images/icons8-tick-48.png');  */
    
    
}

                                                           /* our commitment portion */
.commit{
    background-color: #f4fcfc;
    border-radius: 15px;
    padding: 2rem;
    border: 1px solid  #cdf0f0;
    width: 88%;
    margin-left: 12rem;
    margin-bottom: 2rem;
}
.commit p{
    margin-bottom: 2rem;
}

/* get in touch */

.btn-chat{
   border: 1px solid #650e83;
   color: #650e83;
}


/* call to action portion */
.action-cart{
   width: 330px;
   margin-bottom: 2rem;
   margin-top: 2rem;

}
                                                               /* energy page */
.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}



.text-div{
    width: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-left: 0rem;
    background-color: rgb(250, 255, 255);
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 2%;
}
.text-div p{
    margin-bottom: 2rem;
}
.text-div li{
    list-style: none;
}

/* left text */
.main-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
}


/* service simplified assistant portion */


.assistant{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

                                                            /* telecom page */
.icon-text{
    display: flex;
    flex: row;
    
}
.icon-text p{
    margin-left: 1rem;
}
#mini-icon i{
    font-size: 2rem;
     color: #650e83 !important;
}









                                                        /* media query */
 @media (max-width: 720px){
    .title{
        font-size: 5rem;
        line-height: 1;
        margin-left: 4rem;
        margin-bottom: 3rem;
    }
    .sub-title{
        margin-left: 3rem;
       
    }
    .banner{
        height: 50vh;
    }


    /* services */

    .content{
        height: 30vh; 
       
    }
   


   /*  6 carts*/
   .main-div{
    margin-top: 2rem; 
   }
   
    /* essential business*/
   .content1 {
    margin-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    }


     /* why choose us */

     .list-container{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
     }
     .pic{
        width: 80%;
        margin-left: 2rem;
     }
     .list{
        margin-top: 2rem;
     }
     .list li{
        margin-top: 1.5rem;
        
        
     }

     /* our commitment portion */
     .commit{
        margin-top: 65rem;
       width: 100%;
      margin-left: 0rem;
      margin-bottom: 0rem;
     }


     /* get in touch */
     .getin-touch{
        margin-top: .5rem;
     }
     .btn1{
        margin-bottom: 1rem;
        width: 100%;
     }
     .btn-chat{
        width: 100%;
     }



                                                            /* contact us page */

.contact{
    margin-top: 9rem;
}

                                              /* energy page */
/* <!-- left pitcher with right text portion --> */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-top: 3rem;
}
.text-div{
    width: 100%;
}

.main-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}

#energy-commit{
    margin-top: 1rem;
}


                            /* insurance page */
.insurance-btn{
    display: none;
}
.insurance-title{
    font-size: 4rem;
}
.insurance-subtitle{
    font-size: 2rem;
}


    
     
 }