*{
    font-family:  system-ui, sans-serif;
    margin: 0;
    padding: 0;
}


                                                         /* black navbar */
.navbar1 {

   
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    color: white;
    padding: 5px;
    font-size: 15px;
    background-color: #333;
   padding-left: 40rem;
    height: 30px; 
}

#select1 {
    background-color: #333;/* Dropdown background color */
    color: #fff; /* Dropdown text color */
   font-size: 15px;
    border: none; /* Remove default border */
   
    
}


                                                         /* purple navbar header  */
.nav{
    background-color: #c866e8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    color: white;
    padding: 5px;
    font-size: 15px;
   
    
}
.logo img{
    margin-left: 155px;
    height: 25px;
}


.right ul li{
    list-style: none;
    

}
.right ul{
    padding-top: 5px;
    display: flex;
    gap: 40px; 
   
}

select {
    background-color: #c866e8;/* Dropdown background color */
    color: #fff; /* Dropdown text color */
   font-size: 15px;
    border: none; /* Remove default border */
   
    
}

button {
    background-color:  #650e83;
    border: none;
    border-radius: 30px;
    color: #fff; 
    padding: 12px 15px; /* Adjust padding as needed */
    margin-left: 8px; /* Add some space between the button and other menu items */
    cursor: pointer;
   
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
                                                           /* banner portion */
/* banner */
.banner{
    background-image: url('images/banner.jpg') ; /* Add your image path here */
    background-size: cover; /* Adjust the size of the background image */
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
   
   
}

.banner img{
    height: 80vh;
    
   
    
    
}
.simple{
   font-weight: bolder;
}

.title{
  
   margin-right: 45rem;
   margin-top: 6rem; 
    margin-bottom: 2rem;  
    font-size: 3rem;
    line-height: 3.75rem;
   color:  #c866e8; 
    word-spacing: 10px;
    font-family:  system-ui, sans-serif;
}



.sub-title{
    margin-right: 45rem;
    margin-bottom: 2rem;
    color: white;
    font-size: 24px;
    font-family:  system-ui, sans-serif;

}
.btn{
    margin-right: 45rem;
    /* padding-top: 3rem;  */
}
.btn1{
    background-color:  #c866e8;
    color: #ffffff; /* White text */
    border: 2px solid #c866e8;  /* No border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition */
    font-size: 15px;
}
.btn1:hover{
   background-color: #650e83;
    
    }
.btn-chat{
    background-color: transparent;
    border: 2px solid white;
    color: #ffffff; /* White text */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition */
    font-size: 15px;
}
.btn-chat:hover{
    border-color: #650e83;
    color: #650e83;
}



button i{
    margin-left: 6px;
}
                                                       /* services portion */
.content{

    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    margin-top: 3rem; 
    padding-left: 20rem;
    padding-right: 20rem;

}
h2{
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: system-ui, sans-serif ;
}

h3{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #333;
    font-weight: normal;
}
h4{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    color: #650e83;
    font-family: system-ui, sans-serif ; ;
}

p{
    margin-top: 1rem;
}
                                                             /* services simplified portion */


.card {
      margin-bottom: 20px;
      border: 1px solid red;
    }

    .simplified {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Shadow for the dropdown */
      z-index: 1;
      border-radius: 15px;
      padding: 1rem;
      
      margin: 0 auto; /* Center the container */
    }

    /* .all-cards {
      margin-left: 7rem;
    } */

    .btn-simplified {
      background-color: #c866e8;
      color: #ffffff; /* White text */
      border: 2px solid #c866e8; /* No border */
      padding: 10px 20px; /* Padding */
      border-radius: 5px; /* Rounded corners */
      cursor: pointer; /* Cursor style */
      transition: background-color 0.3s ease; /* Smooth transition */
      font-size: 15px;
      display: flex;
    justify-content: center;
    align-items: center;
    }

    .div-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding:0rem 3rem;
      

    }

    .div1 {
      justify-self: start;
      margin-right: 18rem;
    }

    .div2 {
      margin-top: 1rem;
      margin-left: 50rem;
      justify-self: end; 
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      text-align: center;
      padding: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
    }

    #icon {
      margin-bottom: 10px; /* Optional: space between icon and text */
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px; /* Adjust the size as needed */
      height: 60px; /* Adjust the size as needed */
      border-radius: 50%; /* Make it a circle */
      font-size: 24px; /* Adjust the size of the icon */
      color: #333; /* Color of the icon */
    }

    #icon i {
      color: white;
    }

    .icon-energy {
      background-color: rgb(80, 159, 205); /* Background color of the circle */
    }

    .icon-telecom {
      background-color: rgb(34, 159, 153);
    }

    .icon-insurance {
      background-color: rgb(232, 104, 57);
    }

    .icon-payment {
      background-color: #c866e8;
    }

    .icon-water {
      background-color: rgb(18, 234, 234);
    }

    .btn-trans {
      background-color: transparent;
      border: 2px solid #898789;
      color: #898789; /* White text */
      padding: 10px 20px;
      border-radius: 5px; /* Rounded corners */
      cursor: pointer; /* Cursor style */
      transition: background-color 0.3s ease; /* Smooth transition */
      font-size: 15px;
    }

    .btn-trans:hover {
      border-color: #706f70;
      background-color: #f0edf0;
    }

    #item-title {
      font-size: 1.25rem;
      line-height: 1.875rem;
      padding-bottom: 1rem;
    }


                                                     
                                                           /* review slider */
.slider {
    position: relative;
    
    overflow: hidden;
    display: flex;
    margin-top: 2rem;
    background-color: white;
    /* width: 65%;   */
    margin-left: 4.5rem; 
    padding: 1rem; 
    overflow: hidden;
    
}

.slide {
    min-width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 20px;
}

.image-container {
    width: 50%;
   
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 6rem;
    /* align-items: center; */
    padding: 20px;
    box-sizing: border-box;
}
.rating{
    color: orange;
    margin-bottom: 2rem;
}

button.prev, button.next {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
}

button.prev {
    left: 85rem;
    border-radius: 50%;
   color: #650e83;
    align-items: center;
}

button.next {
    right: 10rem;
    border-radius: 50%;
    color: #650e83;
    align-items: center;
}

                                                         /* essential business services */
.content1{

    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    margin-top: 3rem;

}
                                                         /* 3 cards */
.grid2{
    margin-top: 0px;
    background-color: white;
    /* width: 65%;  */
    margin-left: 7rem;
    
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center; 
    padding: 1rem;
    
}
.card1{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    width: 100%;
    grid-column: 1/ -1;
}
.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.heading{
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-family: system-ui, sans-serif ;
}
.card-item p{
    margin-bottom:2rem;
}
.icon-sorted{
    background-color:orange;
}
.icon-business{
    background-color: rgb(74, 150, 236);
}
.icon-help{
    background-color: rgb(32, 182, 32);
}
.btn-find{
   
    
    color:white; /* White text */
    padding: 10px 20px; 
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    width: 100%;
    font-size: 15px;
}

#b1{
    background-color:orange;
}
#b2{
    background-color: rgb(74, 150, 236);
}
#b3{
    background-color: rgb(32, 182, 32);
}


                                                       /* text with pitcher portion */

.grid3{
    margin-top: 0px;
    background-color: white;
    /* width: 65%;  */
    margin-left: 10rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center; 
    padding: 1rem;
    
    
}
.card2{
    
    display: grid;
    grid-template-columns: 1fr 1fr  ; 
    width: 100%;  
    grid-column: 1/ -1;
}
.item-pic{
    background-image: url(images/girlpic.webp);
    border-radius: 15px;
    background-size: cover;
    order: 2;
    position: relative;
    z-index: 1;
  
    
   
}
.info{
    
    padding: 20px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
   width: 120%;
   
   background-color: white;
    order: 1;
    border-radius: 1.5rem;
    text-align: left;
    position: relative;
    z-index: 2; 

   
   
}

.info p{
    margin-bottom: 1rem ;
    
}

  
                                                            /* secondary footer */




.secondary-footer{
    background-color: #c866e8;
    clip-path: polygon(0 0, 100% 4.5rem, 100% 100%, 0% 100%); 
    height: 30vh;
   
    
}


.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.secondary-footerIcons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 14rem;
    
   

}

.fs-icon a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 7rem;
    margin-left: 1.5rem;
   
}
.fs-icon i{
    margin-bottom: .5rem;
    font-size: 5rem;
}
.footer-callToAction{
    margin-top: 4rem;
    margin-right: 8rem;

}

.btn-callToAction{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    margin-right: 7rem;
    margin-left: 2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    background-color: #4f467e;
    font-size: 1rem;
    color: white;

}
.footer-callToAction a{
    text-decoration: none;

}
.text-callToAction{
     display: flex;
     flex-direction: column;
     margin-left: 3rem;
     margin-top: 1.5rem;
     font-size: 2.2rem;
     color: white;
}


                                                            /* primary footer */
.primary-footer{
    background-color: rgb(43, 42, 42);
    min-height: 80vh;

}
.primary-footerLogo{
    margin-left: 3rem;
   
}

.footer-social{
    height: 20px;
    width: 20px;
    
    
  
   
}
.primary-container{
    display: flex;
    flex-direction: row;
    margin-left: 4rem; 
   
}
.footer-social a{
   display: inline-block;
    
}

.footer-social {
    display: flex;
    justify-content: center; /* Center align the images */
    gap: 10px; /* Optional: add some space between the images */
    margin-left: 12rem;
    margin-top: 2rem;
}
.footer-social a img {
    filter: invert(1); /* This will turn the images to white assuming they are originally dark */
    width: 30px; /* Adjust the size of the icons */
    height: auto;
    
}
.footer-social a {
    display: inline-block;
    
    
    
}
.footer-slogan{
    color: white;
    margin-left: 8rem;
}
.footer-logo img{
   margin-left: 8rem; 
    margin-top: 4rem;

}




                                                      /* Primary footer links  */
.primary-footerLinks{
    display: flex;
    flex-direction: row;
    /* margin-left: 2rem;  */
}
.links-heading{
    color: white;
    
}
.link-block a{
    color: rgb(170, 165, 165);
    text-decoration: none;
    list-style: none;
    
}
.link-block ul li{
    margin-top: .5rem;
}

.link-block{
    margin-left: 2rem;
    margin-top: 2rem;
}

hr{
    margin-top: 4rem;
    width: 70%;
    margin-left: 19rem;
    box-shadow: 0 8px 16px rgba(138, 36, 36, 0.8);
   
}


                                                        /* primary-footerLegal */

.primary-footerLegal{
    min-height: 30vh;
    width: 70%; 
    overflow: hidden;
    font-size: 12px;
    margin-left: 8rem;
    color: white;
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 4rem;
}
/* .container{
    border: 3px solid red;
}
.container-fluid{
    border: 4px solid green;
} */










                                                 /* media query */
 @media (max-width: 720px) {

    .container{
        margin-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;

    }

                                                  /* banner */
    .banner{
        height: 100vh;
 }
    
    .banner img{
        height: 100%;
}
    
    
    .title{
       margin-right: 8rem; 
       margin-top: 14rem; 
        font-size: 4rem;
        line-height: 4.75rem;
      
       
    }
    .sub-title{
        margin-right: 7rem;
}
    .btn{
        margin-right: 8rem;
        
    }
    .btn1{
        padding: 12px 22px; /* Padding */
        
    }
   
    .btn-chat{
        padding: 12px 22px; /* Padding */
        
    }


                              /* service portion */
.content{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 14rem;

}

                          /* service simplified portion */


.div-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.btn-simplified{
    margin-right: 68rem;
   margin-bottom: 1rem;
   min-width: 150px;
}
.item{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-between;
} 
.simplified{
    margin-left: 2rem;
   
}

                                                       /* review slider */

  

.slide {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
  
}
.image-container{
      width: 100%;
}
.text-container{
    width: 100%;
}



button.prev {
    left: -0rem;
   
}

button.prev, button.next {
  
    top: 60%;
  
}



button.next {
    right: 8rem;
   
   
}

   /* essential busineess services */
.content1{
    margin-bottom: 1rem;
}


              /* 3 cards */

.grid2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 2rem;
}

.card-item{
    margin-bottom: 2rem;
}


                                                      /* pitcher with text portion */

.grid3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
}
/* .card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
} */




                                                  /* secondary footer */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}






    
}